<meta property="og:title" content="FatDawlf - {{ title }}">
<meta property="og:type" content="article">

{% if isMusing %}
{% set thumbSource = "musings" %}
{%- if "dolfare" in tags %}
    {% set thumbSource = "dolfare" %}
{%- endif -%}
<meta property="og:image" content="https://fatdawlf.art/media/thumbs/{{ thumbSource }}/{{ thumbnail }}.png">
{% else %}
<meta property="og:image" content="https://fatdawlf.art/media/thumbs/{{ thumbnail }}.png">
{% endif %}

<meta property="og:url" content="https://fatdawlf.art/">
{% if description %}
<meta property="og:description" content="{{ description }}">
{% else %}
<meta property="og:description" content="{{ page.excerpt }}">
{% endif %}

<meta name="twitter:card" content="summary_large_image">
