<meta property="og:title" content="FatDawlf - {{ title }}">
<meta property="og:type" content="article">

{% if isMusing %}
<meta property="og:image" content="https://fatdawlf.art/media/thumbs/musings/{{ thumbnail }}.png">
{% else %}
<meta property="og:image" content="https://fatdawlf.art/media/thumbs/{{ thumbnail }}.png">
{% endif %}

<meta property="og:url" content="https://fatdawlf.art/">
{% if description %}
<meta property="og:description" content="{{ description }}">
{% else %}
<meta property="og:description" content="{{ page.excerpt }}">
{% endif %}

<meta name="twitter:card" content="summary_large_image">
