<div class="vc formSection" id="commissionForm">

    <div class="hc ac jsb">
        <label for="styleSelector">Style:</label>
        <select id="styleSelector" name="styleSelector" value="" required>
            <option value="">Pick a style</option>
            {% for tier in prices %}
            <option value="{{tier.id}}">{{tier.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="hc ac jsb">
        <label for="charCount" id="charText"> Characters:</label>
        <input type="number" name="charCount" id="charCount" value="1" min="1" max="10" required>
    </div>
    
    <label for="contentDescription">Description:</label>
    <textarea id="contentDescription" name="contentDescription" rows="7" placeholder="What do you want in the commission?" required></textarea>
    <div class="hc ac jsb noeq">
        <label for="bgComplexity">How complex is the background?</label>
        <label for="bgComplexity" id="bgLevel">Trivially easy</label>
    </div>
    
    <div class="hc ac noeq">
        <input type="range" id="bgComplexity" name="bgComplexity" min="0" max="20" step="5" value="0">
        <label for="bgComplexity" id="complexityLevel"></label>
    </div>

</div>
