<div class="hc ac jsb">
    <label for="email">Payment email:</label>
    <input type="email" name="email" placeholder="Your Paypal email" value="" required>
</div>

<div class="vc ng">
    <div class="hc ac jsb">
        <label for="contactMethod">Contact method:</label>
        <select id="contactSelector" name="contactMethod" value="">
            <option value="">Same as payment email</option>
            <option value="Discord">Discord</option>
            <option value="Bluesky">Bluesky</option>
            <option value="Telegram">Telegram</option>
            <option value="Other email">Other email address</option>
        </select>
    </div>
    <input class="hidden" id="contactField" type="text" name="contactField" value="">
</div>
