<div class="hc ac jse" id="commissionTypeContainer">
    <input type="radio" name="commissionType" id="Commission" checked>
    <label tabindex="0" for="Commission">Commission</label>
    <input type="radio" name="commissionType" id="LABS">
    <label tabindex="0" for="LABS">LABS</label>
    <input type="radio" name="commissionType" id="YCH">
    <label tabindex="0" for="YCH">YCH</label>
    <div id="pill"></div>
</div>
