---
layout: main.njk
isCharacters: true

title: Characters
description: An introduction to FatDawlf's characters
thumbnail: characters

tags: destination
---

<div id="arrow">
    <span class="previous"><i class="fa-solid fa-fw fa-arrow-up"></i></span>
    <span class="next"><i class="fa-solid fa-fw fa-arrow-down"></i></span>
</div>

{% for character in characters %}
{%- set sectionClasses = "hc jsb ac reflow" %}
{%- set imgClasses = "character" %}

{%- set isOdd = (loop.index0 % 2 !== 0) %}
{%- if isOdd -%}
    {%- set sectionClasses = sectionClasses + " reverse" %}
    {%- set imgClasses = imgClasses + " reverseimg" %}
{%- endif -%}


<section class="{{ sectionClasses }}" id="{{ character.id }}">
    <div class="charcard gc">
        <div class="text">
            <h1>{{ character.name }}</h1>
            <h2>{{ character.pronouns }}</h2>

            {%- for p in character.desc -%}
            <p>{{p}}</p>
            {%- endfor -%}
        </div>
    </div>
    <div class="{{ imgClasses }}">
        <img src="/media/characters/{{ character.id }}.png" alt="Drawing of {{ character.id }}">
    </div>
</section>

{%- if not loop.last -%}
<div class="separator"></div>
{%- endif -%}

{% endfor %}
