---
eleventyExcludeFromCollections: true
layout: main.njk
title: Build a commission
description: Commission a piece of artwork from FatDawlf.

permalink: commissions/form/index.html
isForm: true
isCommissions: false
---

<section class="gc">
    <div class="hc ac jc reflow" id="content">
        <div class="card">
            <h1>{{ title }}</h1>
            <form id="form">
                <div class="vc">
                    <!-- Contact information -->
                    {% include "./_includes/components/form/infoForm.njk" %}
                    <!-- Commission type selector -->
                    {% include "./_includes/components/form/typePicker.njk" %}
                    <!-- Commission forms -->
                    {% include "./_includes/components/form/commForm.njk" %}
                    {% include "./_includes/components/form/labsForm.njk" %}
                    {% include "./_includes/components/form/ychForm.njk" %}
                    <!-- Confirm button -->
                    <div class="hc ac jc reflow" id="confirm">
                        <p id="subtotal"></p>
                        <button type="submit" value="Submit">Submit!</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="imgSwap gc" id="example">
        {% for tier in prices %}
        <img src="/media/prices/{{tier.id}}.png" alt="{{tier.name}}" id="{{tier.id}}" loading="lazy">
        {% endfor %}
        {% for tier in labs %}
        <img src="/media/labs/{{tier.id}}" id="{{tier.id}}" alt="{{tier.price}}" loading="lazy">
        {% endfor %}
        {% for tier in ych %}
        <img src="/media/ych/{{tier.id}}.png" id="{{tier.id}}" alt="{{tier.price}}" loading="lazy">
        {% endfor %}
        </div>
    </div>
</section>

<div class="imgSwap" id="backdrop">
    {% for tier in prices %}
    <img src="/media/prices/{{tier.id}}.png" id="{{tier.id}}" alt="{{tier.price}}" loading="lazy">
    {% endfor %}
    {% for tier in labs %}
    <img src="/media/labs/{{tier.id}}" id="{{tier.id}}" alt="{{tier.price}}" loading="lazy">
    {% endfor %}
    {% for tier in ych %}
    <img src="/media/ych/{{tier.id}}.png" id="{{tier.id}}" data-type="{{tier.type}}" alt="{{tier.price}}" loading="lazy">
    {% endfor %}
</div>
